# Local Terraform directories (plugin caches, etc.)
**/.terraform/*

# Terraform state files (sensitive information)
*.tfstate
*.tfstate.*

# Crash log files from Terraform
crash.log
sam-key.pub

# Terraform plan output files
*.tfplan*

# Override files (local overrides, usually should not be committed)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore .tfvars files that often contain sensitive variables
*.tfvars
# But if you want to commit example variables files, you can unignore them with:
# !example.tfvars

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore any backup files created by editors (optional)
*~

